:root {
    --main-color: #b7dbd6 ;
    --heading-color: #dda29b;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: var(--main-color);
    color: var(--heading-color);
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--heading-color);
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #a5a58d;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.section {
    margin: 20px 0;
}

.section h2 {
    text-align: center;
    color: var(--main-color);
}

.services, .instructor, .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services div, .instructor div, .contact div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}